.comments-container {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.date {
  font-size: 14px;
  text-align: left;
  width: 95%;
  border-bottom: 1px solid var(--light-grey-color);
  padding: 10px 10px 10px 0;
  color: var(--medium-grey-color);
}
