body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --main-topbar-color: #1E89D1;
  --upper-body-color: #2F9AE0;
  --lower-body-color: #E9E9E9;
  --comments-header-color: #F1F1F1;
  --main-green-color: #69C735;
}
