.top-bar {
  position: fixed;
  height: 50px;
  width: 100%;
  background: var(--main-topbar-color);
  display: flex;
  justify-content: center;
  z-index: 2;
}

.navigation {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
